.popup__close {
  background-image: url(../../../images/close-Icon.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  border: 0;
  grid-column-start: 2;
  margin-left: auto;
}
