.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-overflow: ellipsis;
  max-width: 340px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 685px) {
  .profile__description {
    margin: 0 auto 36px;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
