.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  row-gap : 11px;
  column-gap: 18px;
  margin-left: 30px;
}

@media screen and (max-width: 685px) {
  .profile__info {
    column-gap: 15.25px;
    row-gap : 9px;
  }
}
